{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>アーティスト(画家・作家・音楽家など)向け 無料ホームページテンプレート tp_artist1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}" alt="Artist Name"></a></h1>
</header>

<div id="contents">

<main>

<section>

<h2 class="c">Contact<span>お問い合わせ</span></h2>
<p class="c">Instagramのプロフィールページからお問い合わせ下さい。<br>
（※例です）</p>

</section>

</main>

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">Artist Name</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="profile.html">プロフィール</a></li>
<li><a href="portfolio.html">作品集</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
<li><a href="link.html">リンク集</a></li>
</ul>
</nav>

</div>
<!--/#menubar-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>
{% endblock content %}              