{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'tokyo03/css/style.css' %}">
</head>

<body>

<title>動画紹介</title>
<header>
<div class="h"><img src="{% static 'tokyo03/images/images.jpeg' %}"alt="ヘッダー">
</div>
</header>
<div id="contents">


<main>

<section>

<h2 class="c">おすすめ動画</h2>

<div class="list-square">

<div class="list">
<a href="https://www.youtube.com/watch?v=jIhTwXqUDwU">
    <img src="{% static 'tokyo03/images/are.jpg' %}"alt="豊本のアレ">
        </a>
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=Cd-nhQNri-8&list=PLKRbjEn7P_xY6aGx-6K2wcoPJoOXPNon2">
        <img src="{% static 'tokyo03/images/kyoka.jpeg' %}"alt="許可">
            </a>
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=ISij8c3jfGI">
        <img src="{% static 'tokyo03/images/in.jpeg' %}"alt="因をさがして">
            </a>
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=2mQI5pO8Gmw&t=24s">
        <img src="{% static 'tokyo03/images/bardwatching.jpg' %}"alt="バードウォッチング">
            </a>
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=Uh9gLDgPyj4">
        <img src="{% static 'tokyo03/images/kisai.jpeg' %}"alt="鬼才">
            </a>
    
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=XfjTsex-C-Y">
        <img src="{% static 'tokyo03/images/dousou.jpeg' %}"alt="同窓会">
            </a>
    </a>
   
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=T2jf_Lc6wFQ">
        <img src="{% static 'tokyo03/images/iken.jpeg' %}"alt="同意見">
                
    </a>
    
</div>

<div class="list">
    <a href="https://www.youtube.com/watch?v=dfvmg2SI788&t=31s">
        <img src="{% static 'tokyo03/images/orei.jpeg' %}"alt="お礼させてください">
            </a>
    </a>


</div>
<!--/.list-container-->

</section>

<section>

<h3>コントの説明</h3>
<p>
    1「トヨモトのアレ」は、2003年の第19回単独公演「自己泥酔」で披露されたコントです。
    豊本さんの浮気がバレたときに飯塚さんが...という内容です
</p>
<p>
    2 東京03の「許可」は、2023年9月30日に結成20周年を迎えたトリオが披露したコントです。<br>
    オフィスでバッグに関する「許可」の問題をめぐる内容で、2023年12月30日に東京03公式YouTubeチャンネルで公開されました。
</p>
<p>
    3「因をさがして」は、東京03の第23回単独公演「ヤな因果」のコントです。<br>
    お金に困った豊本が心理テクニックを習い、キャンプ場で角田が友人の飯塚に部下のことを相談する内容です。
    
</p>
<p>
    4 東京03の「バードウォッチング」は、2018年7月8日から10月14日に開催された第20回単独公演「不自然体」で披露されたコントです。<br>
    飯塚が「やりたいこと公演」で披露したネタで、15年ほど前から演じているそうです。<br>
    <em>「バードウォッチング」は、初心者にいい格好を見せようとしている角田さんがどんどん追い込まれていく内容です。</em>
</p>
<p>
    5 「鬼才」は、お笑いトリオ東京03の2011年5月18日から8月26日まで開催された第12回単独公演「燥ぐ、驕る、暴く。」のコントです。<br>
    伏線回収が素晴らしいと評判で、2022年3月3日には「アプリレヴュー」で1位に選ばれました
    
</p>
<p>
    6 東京03の第20回単独公演「不自然体」には「同窓会」というコントが収録されています。<br>
    このコントは、ある話になったときにそれに合わせた話題を即座に出すという内容です
    
</p>
<p>
    7 東京03のコント「同意見」は、2016年7月7日から10月9日まで開催された第18回単独公演「明日の風に吹かれないで」に収録されています<br>
    
</p>
<p>
    8 東京03のコント「お礼させてください」は、仕事を成功させた男が手伝ってくれた先輩と後輩にすぐにお礼を言うという内容です<br>
    
</p>
<br>




</section>

<section>

<h2 class="c">X(旧Twitter)<span>写真タップで飛べます</span></h2>
    <div class="akihiro">
        <figure>
            <a href="https://twitter.com/kakuta_tokyo03">
                <img src="{% static 'tokyo03/images/kakuta.jpg' %}" alt="角田のTwitter">
            </a>
        </figure>
    </div>

    <div class="satoshi">
        <figure>
            <a href="https://twitter.com/iizuka03">
                <img src="{% static 'tokyo03/images/iiduka.jpg' %}" alt="飯塚のTwitter">
            </a>
        </figure>
    </div>
    
<div class="akinaga">
<figure>
    <a href="https://twitter.com/toyo03">
        <img src="{% static 'tokyo03/images/toyomoto.jpg' %}" alt="豊本のTwitter">
    </a>
</figure>
</div>

</div>

</section>

</main>

</div>
<!--/#contents-->



<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<ul>
<li><a href="index.html">home</a></li>
<li><a href="profile.html">プロフィール</a></li>
<li><a href="portfolio.html">作品集</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
<li><a href="link.html">リンク集</a></li>
</ul>
</nav>

</div>
<!--/#menubar-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span class="bar"></span><span class="bar"></span><span class="bar"></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'tokyo03/js/jquery.inview_set.js' %}"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{% static 'tokyo03/js/main.js' %}"></script>

<!--動画をランダムに表示するスクリプト-->
    <title>ランダム表示とリンク</title>
<div class="random">    
<h1 id="randomItem">面白い動画が見れます。(月末に再公開や非公開になる動画もあるのでその都度更新していきます。)</h1>
<button onclick="redirectToRandomSite()">クリック(youtubeサイトに飛べます。)</button>
</div>
<script>
function redirectToRandomSite() {
    // ランダムな項目を選ぶ（ここでは3つの項目）
    const items = ["スマイルハウジング", "ステーキハウスにて", "店頭販売","救世主","入居日","市民の味方","小芝居","東京03 FROLIC A HOLIC「何が格好いいのか、まだ分からない。","二人の雰囲気"];
    const randomIndex = Math.floor(Math.random() * items.length);
    const randomItem = items[randomIndex];

    // ランダムに選ばれた項目を表示
    document.getElementById("randomItem").innerHTML = randomItem;

    // 項目に対応するサイトにリダイレクト
    switch (randomItem) {
        case "スマイルハウジング":
            window.location.href = "https://www.youtube.com/watch?v=7b33Fk_3Qu0";
            break;
        case "ステーキハウスにて":
            window.location.href = "https://www.youtube.com/watch?v=ko8D-wq3rhc&t=8s";
            break;
        case "店頭販売":
            window.location.href = "https://www.youtube.com/watch?v=67DgBxENbfw&t=5s";
            break;
        case "救世主":
            window.location.href = "https://www.youtube.com/watch?v=yyOSPXOFwM8&t=97s";
            break;  
        case "入居日":
            window.location.href = "https://www.youtube.com/watch?v=OFriGdCrAeI";
            break;  
        case "市民の味方":
            window.location.href = "https://www.youtube.com/watch?v=EV4_lSjgkzU";
            break;  
        case "小芝居":
            window.location.href = "https://www.youtube.com/watch?v=wMGx3dkG83k&t=4s";
            break;    
        case "東京03 FROLIC A HOLIC「何が格好いいのか、まだ分からない。":
            window.location.href = "https://www.youtube.com/watch?v=wi2z5j7tqyE";
            break;        
        case "二人の雰囲気":
            window.location.href = "https://www.youtube.com/watch?v=i3eH57T0Xtg";
            break;        
        default:
            // 何もしないか、エラーメッセージを表示
            console.error("未知の項目");
            break;
    }
}
</script>

</body>
</html>
 

</body>
</html>

{% endblock content %}
